# Dependencies
node_modules/

# Build outputs
dist/

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Capacitor
android/app/build/
android/.gradle/
*.keystore

# Logs
*.log
npm-debug.log*
